<table style="width: 340px" class="ui very basic collapsing celled table inverted">
    <thead>
        <tr style="width: 50%">
            <th>Configuración</th>
            <th style="width: 50%"></th>
        </tr>
    </thead>
    <tbody>{% if command['id'] == None %}{% else %}
        <tr>
            <td><div class="content">ID</div></td>
            <td>{{ command['id'] }}</td>
        </tr>{% endif %}
        <tr>
            <td><div class="content">Nivel</div></td>
            <td>{{ command['level'] }}</td>
        </tr>
        <tr>
            <td><div class="content">Costo</div></td>
            <td>{{ command['cost'] }} punto{{ "s" if command['cost'] != 1 }}</td>
        </tr>
        <tr>
            <td><div class="content">Cooldown Global</div></td>
            <td>{{ command['cd_all']|time_ago_timespan_seconds }}</td>
        </tr>
        <tr>
            <td><div class="content">Cooldown de Usuario</div></td>
            <td>{{ command['cd_user']|time_ago_timespan_seconds }}</td>
        </tr>
        <tr>
            <td><div class="content">Sólo Mods</div></td>
            <td>{% if command['mod_only'] == false %}No{% else %}Sí{% endif %}</td>
        </tr>
        <tr>
            <td><div class="content">Sólo Subs</div></td>
            <td>{% if command['sub_only'] == false %}No{% else %}Sí{% endif %}</td>
        </tr>
        <tr>
            <td><div class="content">Susurrable</div></td>
            <td>{% if command['can_execute_with_whisper'] == false and command['level'] < 420 %}No{% else %}Sí{% endif %}</td>
        </tr>
    </tbody>
</table>
