{% extends "admin/layout.html" %}
{% set active_page = 'admin_banphrases' %}
{% block title %}Admin - Banphrases{% endblock %}
{% block body %}
    <form action="/admin/banphrases/create" method="GET">
        <button class="ui button green inverted"><i class="icon add"></i> Crear Banphrase</button>
    </form>
    <h2>Banphrases</h2>
    <table class="ui selectable table basic inverted">
        <thead>
        <tr>
            <th class="collapsing">ID</th>
            <th class="collapsing">Nombre</th>
            <th>Frase</th>
            <th class="collapsing"></th>
            <th class="collapsing">#&nbsp;Usos</th>
            <th class="collapsing">Habilitado</th>
            <th class="collapsing">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {%- for row in banphrases -%}
            <tr data-id="{{ row.id }}" data-enabled="{{ 1 if row.enabled else 0 }}">
                <td class="collapsing">{{ row.id }}</td>
                <td class="collapsing">{{ row.name }}</td>
                <td colspan="6" style="word-break: break-all;">{{ row.phrase }}</td>
            </tr>
            <tr data-id="{{ row.id }}" data-enabled="{{ 1 if row.enabled else 0 }}">
                <td class="collapsing">{{ row.id }}</td>
                <td class="collapsing"></td>
                <td>{{ 'Permaban' if row.permanent else 'Timeout ({})'.format(row.length|time_ago_timespan_seconds) }}</td>
                <td class="right aligned collapsing">
                    {%- set user = row.data.user -%}
                    {%- if user.id == row.data.added_by != row.data.edited_by %}Creado por
                        {% include 'user/username_link_nobadge.html' %}
                        {% if row.data.added_by != row.data.edited_by != None %}<br/>{% endif %}{% endif -%}
                    {%- set user = row.data.user2 -%}
                    {%- if user.id == row.data.edited_by %}Última edición por
                        {% include 'user/username_link_nobadge.html' %}{% endif %}</td>
                <td class="collapsing">{{ row.data.num_uses }}</td>
                {% include 'admin/helper/row_action.html' %}
            </tr>
        {% endfor -%}
        </tbody>
    </table>
    <div class="ui modal remove-banphrase">
        <i class="close icon"></i>
        <div class="header"><p>Confirmar Acción</p></div>
        <div class="content">
            <div class="description">
                <p>¿Estás seguro de que quieres eliminar este banfrase? Esta acción es irreversible.</p>
            </div>
        </div>
        <div class="actions">
            <div class="ui approve button inverted">Remover</div>
            <div class="ui cancel button inverted">Cancelar</div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% assets 'admin_create_row' %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript">
        $(document).ready(function () {
            enable_edit_row('banphrases');
            enable_remove_row('remove-banphrase', 'remove_banphrase');
            enable_toggle_row_cb('toggle_banphrase');
        });
    </script>
{% endblock %}
