{% extends "admin/layout.html" %}
{% set active_page = 'admin_commands' %}
{% block title %}Editar Comando{% endblock %}
{% block body %}
{% set data_available = [
    ('ID', False, command.id, 'id', 'int', ''),
    ('Aliases', False, command.command, 'command', 'string', ''),
    ('Habilitado', True, command.enabled, 'enabled', 'boolean', ''),
    ('Nivel', True, command.level, 'level', 'int', ''),
    ('CD Global', True, command.delay_all, 'delay_all', 'int', ' seconds'),
    ('CD de Usuario', True, command.delay_user, 'delay_user', 'int', ' seconds'),
    ('Costo', True, command.cost, 'cost', 'int', ''),
    ('Susurrable', True, command.can_execute_with_whisper, 'can_execute_with_whisper', 'boolean', ''),
    ('Sólo Sub', True, command.sub_only, 'sub_only', 'boolean', ''),
    ('Sólo Mod', True, command.mod_only, 'mod_only', 'boolean', ''),
    ('Revisar Mensaje', True, command.run_through_banphrases, 'run_through_banphrases', 'boolean', ''),
    ('Usar el cooldown global del módulo', True, command.use_global_cd, 'use_global_cd', 'boolean', ''),
] %}
<p>Las columnas en amarillo marcan un cambio no guardado.</p>
<p>Haga clic en el botón "Guardar Cambios" para confirmar los cambios.</p>
<h2>Comando</h2>
<table class="ui very basic table editcommand celled command inverted">
    <tbody>
        {% for label, editable, value, name, type, suffix in data_available %}
        {% if type == 'boolean' %}
        {% set value = 1 if value == True else 0 %}
        {% endif %}
        <tr data-originalvalue="{{ value }}" data-value="{{ value }}" data-name="{{ name }}" data-type="{{ type }}">
            <td class="label two wide">{{ label }}</td>
            <td class="buttons two wide right aligned">
                {% if editable %}
                <div class="ui small compact basic icon buttons display">
                    <button title="Editar Valor" class="ui button icon edit"><i class="icon edit outline"></i></button>
                </div>
                <div class="ui small compact basic icon buttons edit">
                    <button title="Cancelar Cambios" class="ui button icon cancel"><i class="icon red cancel"></i></button>
                    <button title="Confirmar Cambios" class="ui button icon save"><i class="icon green save"></i></button>
                </div>
                {% endif %}
            </td>
            <td class="value left aligned twelve wide">
                <div class="display" data-value="{{ value }}"><span class="value">
                    {% if type == 'boolean' %}
                        {{ 'Sí' if value == 1 else 'No' }}
                    {% else %}
                        {{ value }}
                    {% endif %}
                    </span>{{ suffix }}</div>
                <div class="edit">
                    {% if type == 'boolean' %}
                    <div class="ui checkbox">
                        <input id="cb-{{ name }}" type="checkbox" />
                        <label for="cb-{{ name }}">{{ 'Sí' if value == 1 else 'No' }}</label>
                    </div>
                    {% else %}
                    <div class="ui compact input{{ ' right labeled' if suffix|length > 0 else '' }}">
                        <input type="text" />
                        {% if suffix|length > 0 %}
                        <div class="ui basic label">{{ suffix }}</div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% set data_available = [] %}

{% if command.action.type == 'message' %}
{% set data_available = [
    ('Tipo de Respuesta', True, command.action.subtype, 'action_type', 'list(say:Decir,whisper:Susurro,me:Me,announce:Anuncio,reply:Respuesta)', ''),
    ('Respuesta', True, command.action.response, 'action_message', 'string', ''),
] %}
{% elif command.action.type == 'func' %}
{% set data_available = [
    ('Type', False, command.action.type, 'action_type', 'string', ''),
    ('Callback', False, command.action.cb.__name__, 'action_cb', 'string', ''),
] %}
{% endif %}
<h2>Acción</h2>
<table class="ui very basic table editcommand celled action inverted">
    <tbody>
        {% for label, editable, value, name, type, suffix in data_available %}
        {% if type == 'boolean' %}
        {% set value = 1 if value == True else 0 %}
        {% elif type.startswith('list') %}
        {% set list_values = type[5:-1].split(',') %}
        {% set type = 'list' %}
        {% endif %}
        <tr data-originalvalue="{{ value }}" data-value="{{ value }}" data-name="{{ name }}" data-type="{{ type }}">
            <td class="label two wide">{{ label }}</td>
            <td class="buttons two wide right aligned">
                {% if editable %}
                <div class="ui small compact basic icon buttons display">
                    <button title="Editar valor" class="ui button icon edit"><i class="icon edit outline"></i></button>
                </div>
                <div class="ui small compact basic icon buttons edit">
                    <button title="Cancelar Cambios" class="ui button icon cancel"><i class="icon red cancel"></i></button>
                    <button title="Confirmar Cambios" class="ui button icon save"><i class="icon green save"></i></button>
                </div>
                {% endif %}
            </td>
            <td class="value left aligned twelve wide">
                <div class="display" data-value="{{ value }}"><span class="value">
                    {% if type == 'boolean' %}
                        {{ 'Sí' if value == 1 else 'No' }}
                    {% else %}
                        {{ value }}
                    {% endif %}
                    </span>{{ suffix }}</div>
                <div class="edit">
                    {% if type == 'boolean' %}
                    <div class="ui checkbox">
                        <input id="cb-{{ name }}" type="checkbox" />
                        <label for="cb-{{ name }}">{{ 'Sí' if value == 1 else 'No' }}</label>
                    </div>
                    {% elif type == 'list' %}
                    <div class="ui dropdown">
                        <input type="hidden" name="{{ name }}" value="{{ value }}">
                        <i class="dropdown icon"></i>
                        <div class="default text">{{ value }}</div>
                        <div class="menu">
                            {% for value in list_values %}
                            {% set key, label = value.split(':') %}
                            <div class="item{{ ' active selected' if key == value else '' }}" data-value="{{ key }}">{{ label }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                    <div class="ui compact input{{ ' right labeled' if suffix|length > 0 else '' }}{{ ' fluid' if type == 'string' else '' }}">
                        <input type="text" />
                        {% if suffix|length > 0 %}
                        <div class="ui basic label">{{ suffix }}</div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if user.level >= command.level %}
<button class="ui disabled button large green icon save-changes inverted"><i class="icon save"></i> <strong>Guardar Cambios</strong></button>
{% else %}
<p>No puedes modificar este comando, porque tu nivel es demasiado bajo.</p>
{% endif %}
<a href="/admin/commands/#c{{ command.id }}">Ir al comando</a>
{% endblock %}
{% block footer %}
<script type="text/javascript">
command_id = {{ command.id }};
max_level = {{ user.level }};
</script>
{% assets 'admin_edit_command' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
