{% extends "admin/layout.html" %}
{% set active_page = 'admin_playsounds' %}
{% block title %}Sonidos{% endblock %}
{% block body %}
    <h2>Sonidos</h2>

    <div class="ui icon message inverted">
        <i class="info circle icon"></i>
        <div class="content">
            <div class="header">
                Ayuda para el uso de Sonidos
            </div>
            <p>La función "sonidos" permite a los espectadores reproducir fragmentos de sonido predefinidos en el directo.</p>

            <div class="ui raised segment inverted">
                <p>
                    Reproducir un sonido
                    {% if module_settings.point_cost <= 0 and module_settings.token_cost <= 0 %}
                        es <b>gratis</b>.
                    {% elif module_settings.point_cost > 0 and module_settings.token_cost > 0 %}
                        cuesta <b>{{ module_settings.point_cost }} punto{{ "s" if module_settings.point_cost != 1 }} y
                        {{ module_settings.token_cost }} token{{ "s" if module_settings.token_cost != 1 }}</b>.
                    {% elif module_settings.point_cost > 0 %}
                        cuesta <b>{{ module_settings.point_cost }} punto{{ "s" if module_settings.point_cost != 1 }}</b>.
                    {% else %}
                        cuesta <b>{{ module_settings.token_cost }} token{{ "s" if module_settings.token_cost != 1 }}</b>.
                    {% endif %}

                    <br>
                    Hay un cooldown global de <b>{{ module_settings.global_cd }}
                    segundo{{ "s" if module_settings.global_cd != 1 }}</b>
                    {%- if module_settings.user_cd > 0 %}
                    y un cooldown por usuario de <b>{{ module_settings.user_cd }} segundo{{ "s" if module_settings.user_cd != 1 }}</b>
                    {%- endif -%}.
                    <br>
                    Si no especifica un cooldown de anulación en la tabla de abajo (dejando el campo de entrada vacío),
                    el cooldown por defecto para cada muestra será de <b>{{ module_settings.default_sample_cd }}
                    segundo{{ "s" if module_settings.default_sample_cd != 1 }}</b>.
                </p>

                <p>
                    El volumen global de los Sonidos está actualmente ajustado a <b>{{ module_settings.global_volume }}%</b>.
                    El volumen global se multiplica por el volumen que se configura para cada muestra.
                </p>

                <p>
                    {% if module_settings.sub_only %}
                        <b>Sólo suscriptores</b> pueden reproducir sonidos.
                    {% else %}
                        Ambos <b>suscriptores y plebs</b> pueden reproducir sonidos.
                    {% endif %}
                </p>
            </div>

            <p>
                Puede reconfigurar estos ajustes en la
                <a href="/admin/modules/edit/playsound">página de configuración del módulo playsound</a>.
            </p>

            <p>
                Además de los controles a través de esta página web, puedes controlar los playsounds a través del chat con los comandos
                <a href="/commands/add_playsound"><b>!add playsound</b></a>,
                <a href="/commands/remove_playsound"><b>!remove playsound</b></a> y
                <a href="/commands/edit_playsound"><b>!edit playsound</b></a>.
                Siga los enlaces para obtener ayuda de uso.
            </p>
        </div>
    </div>

    <div class="ui icon {{ "positive" if playsounds_enabled else "negative" }} inverted message">
        <i class="{{ "check circle" if playsounds_enabled else "exclamation triangle" }} icon"></i>
        <div class="content">
            <div class="header">
                Los sonidos están actualmente
                <b>{{ "enabled" if playsounds_enabled else "deshabilitados" }}</b>.
            </div>
            <p>
                {% if  playsounds_enabled %}
                    Ya está listo para funcionar. Tus espectadores pueden reproducir los sonidos que se indican a continuación.
                {% else %}
                    Actualmente sus espectadores no pueden reproducir ningún sonido.
                {% endif %}
            </p>
            <p>Utilice el control deslizante de abajo para activar o desactivar el módulo:
            <div class="ui toggle checkbox">
                <input id="toggle-module-checkbox" type="checkbox" autocomplete="off" {% if playsounds_enabled %}
                       checked {% endif %}>
                <label><p>Habilitar el módulo de Sonidos</p></label>
            </div>
            </p>
        </div>
    </div>
    <div id="message-box" class="ui message hidden">
        <i class="close icon" id="message-box-hide-icon"></i>
        <div class="header" id="message-text">
        </div>
    </div>
    <div>
        <div>
            <form class="ui action input" id="new-playsound-form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token()  }}"/>
                <input autocomplete="off" type="text" name="name" placeholder="Nuevo nombre del Sonido" style="width: 300px;"
                       required>
                <input autocomplete="off" type="url" name="link" class="link-input middle-input"
                       placeholder="Nuevo enlace del Sonido"
                       style="width: 300px;" required>
                <button class="ui button positive inverted" id="#create-playsound-button" type="submit">Crear Sonido</button>
            </form>
        </div>
    </div>
    <table class="ui single line very basic table inverted">
        <thead>
        <tr>
            <th class="collapsing">Nombre</th>
            <th>Link</th>
            <th class="collapsing">Volumen</th>
            <th class="collapsing">
                Cooldown<br>
                (Segundos)
            </th>
            <th class="collapsing">Habilitado</th>
            <th class="collapsing" style="min-width: 120px">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for playsound in playsounds %}
            <tr>
                <td>{{ playsound.name }}</td>
                <td>
                    <form class="playsound-form" id="form-{{ playsound.name }}"></form>
                    <input form="form-{{ playsound.name }}" type="hidden" name="name" value="{{ playsound.name }}">
                    <div class="audio-section">
                        <div class="grow ui input compact">
                            <input autocomplete="off" form="form-{{ playsound.name }}" class="link-input" type="url"
                                   required
                                   placeholder="Enlace al archivo de audio" name="link" value="{{ playsound.link }}">
                        </div>
                        <div class="play-buttons">
                            <div class="play-in-browser-wrapper"
                                 data-name="{{ playsound.name }}"
                                 data-link="{{ playsound.link }}"
                                 data-volume="{{ playsound.volume }}">
                                <button class="positive inverted play-in-browser-play ui icon button compact">
                                    <i class="play circle outline icon"></i>
                                    Pruébalo
                                </button>
                                <button class="play-in-browser-stop ui button compact icon disabled inverted">
                                    <i class="stop circle outline icon"></i>Detener
                                </button>
                                <button class="play-on-stream ui button icon compact inverted">
                                    <i class="play circle outline icon"></i>Probar en Stream
                                </button>
                            </div>
                        </div>
                    </div>

                </td>
                <td class="middle aligned">
                    <div class="min-height-container volume-container">
                        <input form="form-{{ playsound.name }}" type="hidden" name="volume" value="{{ playsound.volume }}">
                        <div class="ui slider volume-slider inverted" data-initial="{{ playsound.volume }}"></div>
                        <div class="volume-label">{{ playsound.volume }}</div>
                    </div>
                </td>
                <td class="middle aligned">
                    <div class="ui input compact cooldown-input">
                        <input autocomplete="off" form="form-{{ playsound.name }}" type="number" name="cooldown"
                               value="{{ playsound.cooldown if playsound.cooldown is not none }}">
                    </div>
                </td>
                <td class="middle aligned">
                    <div class="min-height-container">
                        <div class="ui toggle fitted checkbox enabled-input">
                            <input autocomplete="off" form="form-{{ playsound.name }}" type="checkbox"
                                   name="enabled" {% if playsound.enabled %}checked{% endif %}>
                            <label></label>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="actions-buttons-container">
                        <button form="form-{{ playsound.name }}"
                                class="playsound-submit-save ui compact positive inverted button" type="submit">Guardar
                        </button>
                        <button form="form-{{ playsound.name }}"
                                class="playsound-submit-delete ui compact negative inverted button" type="button">Eliminar
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="ui tiny test modal" id="delete-modal">
        <div class="header">
            <p>Eliminar Sonido</p>
        </div>
        <div class="content">
            <p>Por favor, confirme que desea eliminar el sonido. Esta acción es irreversible.</p>
        </div>
        <div class="actions">
            <div class="ui negative inverted right labeled icon button">
                No, no eliminar
                <i class="close icon"></i>
            </div>
            <div class="ui positive inverted right labeled icon button">
                Sí, elimínalo
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}
    {% include 'dependencies/howler.html' %}
    {% assets 'base_js', 'playsound_common_js', 'playsound_admin_js' %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets 'playsound_admin_css' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}
