{% extends "layout.html" %}
{% set active_page = 'home' %}
{% block title %}Home{% endblock %}
{% block body %}
<h4>
    Este es el sitio web para <strong>{{ bot.name }}</strong> que modera el canal de <a href="http://twitch.tv/{{ streamer.full_name }}">{{ streamer.name }}</a>.
</h4>
{% if stream_data['online'] == 'True' %}
<h4>El stream está actualmente <strong><a href="http://twitch.tv/{{ streamer.full_name }}">EN VIVO</a></strong> con <strong>{{ stream_data['viewers']}}</strong> viewers ({{ stream_data['game'] }}).</h4>
{% else %}
<h4>El stream está actualmente <strong>OFFLINE</strong>.</h4>
{% endif %}
{% if current_quest %}
<div>Quest de hoy: <strong>{{ current_quest.NAME }}</strong></div>
<div>{{ current_quest.get_objective() }}</div>
{% endif %}
<hr />
<p>
{% for social in streamer_info %}
<a href="{{ streamer_info[social].value }}"><i class="icon {{social}}"></i>{{streamer_info[social].title}}</a>&emsp;
{% endfor %}
</p>
{{ custom_content }}
{% endblock %}
