{% extends "layout.html" %}
{% set active_page = 'user_playsounds' %}
{% block title %}Sonidos{% endblock %}
{% block body %}
    <h2>Sonidos</h2>
    <div class="ui icon message inverted">
        <i class="info circle icon"></i>
        <div class="content">
            <div class="header">
                Uso de Sonidos
            </div>
            <p>La función "sonidos" permite a los espectadores reproducir fragmentos de sonido predefinidos en el directo.</p>

            <p>
                Reproducir un sonido
                {% if module_settings.point_cost <= 0 and module_settings.token_cost <= 0 %}
                    es <b>gratis</b>.
                {% elif module_settings.point_cost > 0 and module_settings.token_cost > 0 %}
                    cuesta <b>{{ module_settings.point_cost }} punto{{ "s" if module_settings.point_cost != 1 }} y
                    {{ module_settings.token_cost }} token{{ "s" if module_settings.token_cost != 1 }}</b>.
                {% elif module_settings.point_cost > 0 %}
                    cuesta <b>{{ module_settings.point_cost }} punto{{ "s" if module_settings.point_cost != 1 }}</b>.
                {% else %}
                    cuesta <b>{{ module_settings.token_cost }} token{{ "s" if module_settings.token_cost != 1 }}</b>.
                {% endif %}
                {% if module_settings.sub_only %}
                    <b>Sólo los suscriptores del canal de Twitch pueden reproducir sonidos en este momento.</b>
                {% endif %}

                <br>
                Hay un cooldown global de <b>{{ module_settings.global_cd }}
                segundo{{ "s" if module_settings.global_cd != 1 }}</b>
                {%- if module_settings.user_cd > 0 %}
                y un cooldown por usuario de <b>{{ module_settings.user_cd }} segundo{{ "s" if module_settings.user_cd != 1 }}</b>
                {%- endif -%}.
                Compruebe en la siguiente tabla el cooldown de cada muestra, ya que puede ser mayor para cada una de ellas.
            </p>

            <p>
                Puedes reproducir cada uno de los sonidos escribiendo el comando que aparece en el chat
                {% if module_settings.can_whisper %}
                o susurrando el comando a <b>{{ bot.name }}</b>{% endif %}.
            </p>
        </div>
    </div>

    <div class="ui icon {{ "positive" if playsounds_enabled else "negative" }} inverted message">
        <i class="{{ "check circle" if playsounds_enabled else "exclamation triangle" }} icon"></i>
        <div class="content">
            <div class="header">
                Los sonidos están actualmente
                <b>{{ "habilitados" if playsounds_enabled else "deshabilitados" }}</b>.
            </div>
            <p>
                {% if not playsounds_enabled %}
                Actualmente no se puede reproducir ninguna muestra. Sólo los moderadores o
                    {{ streamer.name }} pueden habilitarlos.
                {% endif %}
            </p>
        </div>
    </div>

    <h3>Listado de Sonidos Disponibles</h3>
    <table class="ui collapsing single line compact very basic table inverted">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Comando</th>
            <th>Cooldown</th>
            <th>Test</th>
        </tr>
        </thead>
        <tbody>
        {% for playsound in playsounds %}
            <tr>
                <td>{{ playsound.name }}</td>
                <td>
                    <div class="ui action input compact">
                        <input type="text" readonly="readonly" class="copyInput compact"
                               value="!{{ module_settings.command_name }} {{ playsound.name }}">
                        <button type="button" name="copyToken" title="Copy command to clipboard"
                                class="copyButton ui right icon button compact inverted">
                            <i class="clipboard icon"></i>
                        </button>
                    </div>
                </td>
                <td>{{ module_settings.default_sample_cd if playsound.cooldown is none else playsound.cooldown }}
                    segundos {{ "(Default)" if playsound.cooldown is none }}
                </td>
                <td>
                    <div class="play-in-browser-wrapper"
                         data-name="{{ playsound.name }}"
                         data-link="{{ playsound.link }}"
                         data-volume="{{ playsound.volume }}">
                        <button class="green inverted play-in-browser-play ui labeled icon button compact">
                            <i class="play circle outline icon"></i>
                            Pruébalo
                        </button>
                        <button class="play-in-browser-stop ui labeled button compact icon disabled inverted">
                            <i class="stop circle outline icon"></i>Detener
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
{% block footer %}
    {% include 'dependencies/howler.html' %}
    {% assets 'base_js', 'playsound_common_js' %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script>
        $(document).ready(function () {
            $('.copyButton').click(function () {
                let input = $(this).closest('div').find('.copyInput');

                input.select();

                document.execCommand("copy");
            });
        })
    </script>
{% endblock %}
