{% extends "layout.html" %}
{% set active_page = 'stats' %}
{% block title %}Estadísticas de Duelos{% endblock %}
{% block body %}
<h2>Estadísticas de Duelos</h2>
<div id="stats">
    <div class="minitable stats">
        <h3>Top 5 Winrate</h3>
        <table class="ui very basic table celled inverted">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>% Winrate</th>
                </tr>
            </thead>
            <tbody>
                {% for stat in top_5_winrate %}
                {% set user = stat.user %}
                <tr>
                    <td>{% include 'user/username_link.html' %}</td>
                    <td>{{ stat.winrate|round(2) }}% ({{ stat.duels_won }}-{{ stat.duels_lost }})</td>
                </tr>
                {% endfor %}
        </table>
    </div>
    <div class="minitable stats">
        <h3>Top 5 Duelos Ganados</h3>
        <table class="ui very basic table celled inverted">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th># Ganados</th>
                </tr>
            </thead>
            <tbody>
                {% for stat in top_5_winners %}
                {% set user = stat.user %}
                <tr>
                    <td>{% include 'user/username_link.html' %}</td>
                    <td>{{ stat.duels_won|number_format }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
    <div class="minitable stats">
        <h3>Top 5 Duelos Perdidos</h3>
        <table class="ui very basic table celled inverted">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th># Perdidos</th>
                </tr>
            </thead>
            <tbody>
                {% for stat in top_5_losers %}
                {% set user = stat.user %}
                <tr>
                    <td>{% include 'user/username_link.html' %}</td>
                    <td>{{ stat.duels_lost }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
    <div class="minitable stats">
        <h3>Top 5 Puntos Ganados</h3>
        <table class="ui very basic table celled inverted">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th># Puntos</th>
                </tr>
            </thead>
            <tbody>
                {% for stat in top_5_points_won %}
                {% set user = stat.user %}
                <tr>
                    <td>{% include 'user/username_link.html' %}</td>
                    <td>{{ stat.profit }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
    <div class="minitable stats">
        <h3>Top 5 Puntos Perdidos</h3>
        <table class="ui very basic table celled inverted">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th># Puntos</th>
                </tr>
            </thead>
            <tbody>
                {% for stat in top_5_points_lost %}
                {% set user = stat.user %}
                <tr>
                    <td>{% include 'user/username_link.html' %}</td>
                    <td>{{ stat.profit }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
    <div class="minitable stats">
        <h3>Peores 5 Winrate</h3>
        <table class="ui very basic table celled inverted">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th># Puntos</th>
                </tr>
            </thead>
            <tbody>
                {% for stat in bottom_5_winrate %}
                {% set user = stat.user %}
                <tr>
                    <td>{% include 'user/username_link.html' %}</td>
                    <td>{{ stat.winrate|round(2) }}% ({{ stat.duels_won }}-{{ stat.duels_lost }})</td>
                </tr>
                {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
